<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ITSupportDb" connectionString="REPLACE_AT_DEPLOYMENT" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
    <customErrors mode="On" defaultRedirect="~/Error.aspx" xdt:Transform="SetAttributes" />
    <authentication mode="Forms">
      <forms requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes(requireSSL)" />
  </system.web>
</configuration>
