<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ITSupportDb"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ITSupportAssetManagement;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
